main {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    padding: 0px;
    box-sizing: border-box;
}

.mobileMenu {
    top: 21px;
    left: 114px;
    padding: 0;
    box-sizing: border-box;
    width: 30px;
    height: 29px;
    position: absolute;
    display: none;
    z-index: 50000;
    background-color: white;
    border-radius: 2px;
}

.mobileMenu:hover {
    background-color: rgb(224,224,224);
}

.mobileMenu a#menu {
    left: 5px;
    cursor: pointer;
    font-size: 28px;
    text-decoration: none;
    color: black;
 /*#3D597C;*/
    padding: 0px;
}

.mobileMenu a {
    float: left;
    cursor: default;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #E7EBF0;
    display: block;
    position: relative;
}

.locations {
    height: 100%;
    display: block;
    position: absolute;
    z-index: 50001;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
}

.locations.open {
    width: 80%;
    display: block;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -webkit-transition: all 1s ease, transform 1s ease;
    transition: all 1s ease, transform 1s ease;
    opacity: 1;
}

  /* If there is enough space (> 850px), we keep the drawer open all the time. */
@media (min-width: 850px) {
    .locations {
        width: 20%;
        display: block;
        position: relative;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }

    main {
        width: 80%;
        flex-grow: 1;
        position: relative;
    }

    .mobileMenu {
        display: none;
    };
}

@media (max-width: 850px) {

    /* Open the drawer. */
    .locations {
        display: none;
        position: absolute;
        transform: translate(-100%, 0);
        -webkit-transform: translate(-100%, 0);
        -moz-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
    }

    .mobileMenu {
        display: block;
    }

    .map {
        width: 100%;
        flex-grow: 1;
    };
}